.nav_menu_thalamus {
    .dropdown-menu {
        margin-left: -100px;
        min-width: 180px;
    }

    .icon {
        background-image: url(imgs/ticons.png);
        background-size: 26px;
        display: inline-block;
        vertical-align: top;
        height: 26px;
        width: 26px;
    }
    
    .iam {
        background-position: 0px -3px;
    }
    .register {
        background-position: 0px -27px;
    }
    .billing {
        background: white;
        background-position: 0px -51px;
    }
}